<mat-card class="task-card" (click)="openTask()">
  <mat-card-header>
    <mat-card-title>Название задачи: {{ task.title }}</mat-card-title>
    <mat-card-subtitle
      >Дата дэдлайна:
      {{ task.deadline | date : "shortDate" }}</mat-card-subtitle
    >

    <div>
      <button
        mat-icon-button
        class="delete_button"
        #deleteButton
        (click)="deleteTask($event)"
      >
        <mat-icon>delete</mat-icon>
      </button>

      <app-task-edit-button [data]="task"></app-task-edit-button>
    </div>
  </mat-card-header>
  <mat-card-actions>
    <div class="task-metadata">
      <span
        class="priority"
        [ngClass]="{
          low: task.priority === 'Низкий',
          medium: task.priority === 'Средний',
          high: task.priority === 'Высокий'
        }"
        >Приоритет: {{ task.priority }}</span
      >
      <span
        class="status"
        [ngClass]="{
          todo: task.status === 'К выполнению',
          'in-progress': task.status === 'В процессе',
          done: task.status === 'Выполнено'
        }"
        >Статус: {{ task.status }}</span
      >
    </div>
  </mat-card-actions>
</mat-card>
